@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

code .sql-hl-keyword {
  @apply text-[#569cd6];
}

code .sql-hl-function {
  @apply text-[#dcdcaa];
}

code .sql-hl-string {
  @apply text-[#ce9178];
}

.summary-container * {
  @apply leading-loose;
}

.summary-container ol,
.summary-container ul {
  @apply list-inside mb-2 pl-2 lg:pl-4;
}

.summary-container ol {
  @apply list-decimal;
}

.summary-container li::marker {
  @apply text-base;
}

.summary-container li > p {
  @apply inline;
}

.summary-container h3 {
  @apply text-xl font-bold;
}

.summary-container h4 {
  @apply text-lg font-bold;
}

.summary-container h5 {
  @apply text-lg font-medium;
}

.summary-container p {
  @apply leading-8 mb-2;
}
